<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.ddit.util.setle.service.impl.PaymentMapper">

	<resultMap id="paymentMap" type="kr.or.ddit.util.setle.service.PaymentVO">
		<id property="payId" column="PAY_ID" />
		<result property="payDate" column="PAY_DATE" />
		<result property="payAmount" column="PAY_AMOUNT" />
		<result property="impUid" column="IMP_UID" />
		<result property="payResumeCnt" column="PAY_RESUME_CNT" />
		<result property="payCoverCnt" column="PAY_COVER_CNT" />
		<result property="payConsultCnt" column="PAY_CONSULT_CNT" />
		<result property="payMockCnt" column="PAY_MOCK_CNT" />
	</resultMap>


	<!--  새로운 결제 정보를 데이터베이스에 삽입.
	public int insertPayment(PaymentVO paymentVO); -->
	<insert id="insertPayment" parameterType="kr.or.ddit.util.setle.service.PaymentVO">
		<selectKey keyProperty="payId" resultType="long" order="BEFORE">
            SELECT	PAYMENT_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO PAYMENT (
             PAY_ID
            ,PAY_DATE
            ,PAY_AMOUNT
            ,IMP_UID
            ,PAY_RESUME_CNT
            ,PAY_COVER_CNT
            ,PAY_CONSULT_CNT
            ,PAY_MOCK_CNT
        ) 
        VALUES (
			
            #{payId}
           ,SYSDATE
           ,#{payAmount}
           ,#{impUid}
           ,NVL(#{payResumeCnt}, 0)
           ,NVL(#{payCoverCnt}, 0)
           ,NVL(#{payConsultCnt}, 0)
           ,NVL(#{payMockCnt}, 0)
        )
	</insert>
	
	<!-- impUid를 기반으로 결제 정보를 조회
	public PaymentVO selectPaymentByImpUid(String impUid); -->
	<select id="selectPaymentByImpUid" parameterType="String" resultMap="paymentMap">
		SELECT	PAY_ID
	           ,PAY_DATE
	           ,PAY_AMOUNT
	           ,IMP_UID
	           ,PAY_RESUME_CNT
	           ,PAY_COVER_CNT
	           ,PAY_CONSULT_CNT
	           ,PAY_MOCK_CNT
        FROM	PAYMENT
        WHERE	IMP_UID = #{impUid} 
	</select>

    
	<!-- merchantUid를 기반으로 결제 정보를 조회
	public PaymentVO selectPaymentByMerchantUid(String merchantUid); -->
	<select id="selectPaymentByMerchantUid" parameterType="String" resultMap="paymentMap">
		SELECT	PAY_ID
	           ,PAY_DATE
	           ,PAY_AMOUNT
	           ,IMP_UID
	           ,PAY_RESUME_CNT
	           ,PAY_COVER_CNT
	           ,PAY_CONSULT_CNT
	           ,PAY_MOCK_CNT
        FROM	PAYMENT
        WHERE	PAY_ID = #{payId} 
	</select>
    
	
</mapper>