<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.cdp.rsm.rsm.service.impl.ResumeMapper">
	<select id="getElement" parameterType="kr.or.ddit.cdp.rsm.rsm.service.ResumeSectionVO" resultType="String">
	SELECT RS_TEMPLATE
		FROM RESUME_SECTION
		WHERE RS_ID =#{rsId}
	</select>


	<insert id="insertResumeDetail" parameterType="kr.or.ddit.cdp.rsm.rsm.service.ResumeDetailVO">
		INSERT INTO RESUME_DETAIL(SD_ID, RESUME_ID, RS_ID, FIELD_VALUE, FIELD_ORDER)
		VALUES (1,1,1,#{fieldValue},1)
	</insert>
	
	<select id="selectResumeDetailByResumeId" parameterType="kr.or.ddit.cdp.rsm.rsm.service.ResumeVO" resultType="kr.or.ddit.cdp.rsm.rsm.service.ResumeDetailVO">
		SELECT SD_ID, RESUME_ID, RS_ID, FIELD_VALUE, FIELD_ORDER
		FROM RESUME_DETAIL
		WHERE RESUME_ID = #{resumeId}
	</select>
</mapper>